@import url('https://fonts.googleapis.com/css?family=Sunflower:500');
/* 기본 스타일 */
body {
    font-family: 'Sunflower', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f9fc;
    color: #333;
}

/* 바탕화면 스타일 */
html, body {
    width: 100%;
    height: 100%;
    background: url('images/맵방.jpeg') no-repeat center center fixed; /* 배경 이미지 추가 */
    background-size: cover;
}

/* 헤더 스타일 */
header {
    background-color: hsla(34, 84%, 62%, 0.226);
    color: rgb(255, 255, 255);
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    font-family: 'Sunflower', sans-serif;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Sunflower', sans-serif;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* 메인 컨텐츠 스타일 */
main {
    padding: 20px;
    max-width: 800px;
    margin: 150px auto 20px auto;
    background-color: rgba(255, 255, 255, 0.9); /* 반투명 흰색 배경 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-family: 'Sunflower', sans-serif;
    text-align: center; /* 중앙 정렬 */
}
article h3 {
    color: hsla(34, 84%, 62%, 0.226); /* Change h3 text color */
    font-size: 20px;
    margin-top: 20px;
}

/* article 요소 초기에는 모두 숨기기 */
article {
    display: none;
}

/* 한 번에 하나의 article 요소만 보이게 하기 */
article:first-child {
    display: block; /* 첫 번째 article 요소는 초기에 보이게 설정 */
}

main h2 {
    color: hsla(34, 84%, 62%, 0.626);
    font-size: 24px;
    margin-bottom: 10px;
}

main p {
    line-height: 1.6;
    margin-bottom: 20px;
}
/* Adjust image sizes */
.image-container img {
    width: 130px; /* Set the width of each image */
    height: auto; /* Maintain aspect ratio */
    margin: 0 10px; /* Add margin between images */
    cursor: pointer;
}
.image-container {
    text-align: center;
}

.image-container img {
    max-width: 50%; /* 이미지 크기를 줄입니다 */
    border-radius: 8px;
    margin: 20px 0;
}

iframe {
    width: 100%;
    height: 450px;
    border-radius: 8px;
    margin: 20px 0;
    border: none;
}

/* 푸터 스타일 */
footer {
    background-color: hsla(36, 100%, 82%, 0.973);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Sunflower', sans-serif;
}

/* 반응형 스타일 */
@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    main {
        padding: 10px;
        margin: 120px 10px 10px 10px; /* 작은 화면에서도 헤더 높이만큼 아래로 위치 */
    }

    iframe {
        height: 300px;
    }

    .image-container img {
        max-width: 80%; /* 작은 화면에서 이미지 크기를 늘립니다 */
    }
}
